// Set your colors
$primary: #5e17eb;
$primary-dark: #a46d8a;
$primary-invert: findColorInvert($primary);
$secondary: #7289da;
$secondary-invert: findColorInvert($primary);
$red: #A10702;
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);
