// Set your colors
$primary: #71485e;
$primary-dark: #a46d8a;
$primary-invert: findColorInvert($primary);
$secondary: rgb(0, 152, 171);;
$secondary-invert: findColorInvert($primary);
$red: #A10702;
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);
